html {
    height: 100%;
    font-family: FreeMono, monospace;
}

body {
    display: flex;
    height: 100%;
    margin: 0; /* Resetting the default margin */
    border: 1px dashed #000000;
}

#sidebar {
    flex: 0 0 20%;
    background-color: #f1f1f1;
    border: 1px solid red;
    padding: 2%;
}

#content {
    flex: 1; /* Use flex: 1 to take up remaining space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    border: 1px solid blue;
    padding: 2%;
}

#panelContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#graphPanel{
    height: 40%;
    border: 1px solid black;
}
#statusPanel {
    height: 60%;
    border: 1px solid black;
}

#graphPanelSVG{
    width: 100%;
    height: 100%;
}

button {
    font-family: FreeMono, monospace;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid blue;
}

button:hover {
    background-color: #bbb;
}

.node{
    fill: transparent;
    stroke: blue;
}

.edgePath{
    fill: black;
    stroke: black;
}

.g {
    width: 100%;
}