html, body {
    height: 100%;
    margin: 0;
    font-family: FreeMono, monospace;
}

body {
    display: flex;
    height: 100%;
    border: 1px dashed black;
}

.placeholder {
    color: #888;
    font-size: 100%;
}

#sidebar {
    flex: 0 0 20%;
    background-color: #f1f1f1;
    border: 1px solid red;
    padding: 2%;
}

#content {
    flex: 1; /* Use flex: 1 to take up remaining space */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    border: 1px solid blue;
    padding: 2%;
}

#graphPanel,
#statusPanel {
    flex: 1; /* Distribute remaining space equally */
    display: flex;
    border: 1px solid black;
}

button {
    font-family: FreeMono, monospace;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    text-align: left;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid blue;
}

button:hover {
    background-color: #bbb;
}